body {
    color: rgb(219, 219, 219);
    background-color: rgb(54, 54, 54);
}

button {
    margin: 1rem
}

div.col-1 {
    height: 100%;
    width: 25%;
    min-width: 18rem;

}

div.listbox {
    height: 70%;
    min-height: 30rem;
    width: 20%;
    min-width: 10rem;
    max-width: 20rem;
    color: rgb(219, 219, 219);
    background-color: rgb(66, 66, 66);
    overflow-y: scroll;
    padding-right: 40px;
    box-sizing: content-box; 
}

ul {
    list-style: none;
}

body {
    font: caption;
}